
html {
    font-size: 16px;
    font-family: "Kalam";
}

h1 {
    font-size: 50px
}

h2 {
    font-size: 30px
}

.cell {
    height: 100px;
    width: 100px;
    float: left;
}

.break {
    height: 100px;
}

button {
    font-size: 40px;
    background-color: orange;
}

#LastAiDepth {
    color: red;
}

#SwitchPlayers {
    position: absolute; right: 0;
}

#StopAI {
    color: white;
    background-color: red;
    position: absolute; right: 0;
}

#GameScore {
    position: absolute; right: 0;
}
