
html {
    font-size: 16px;
    font-family: "Kalam";
}

em {
    color: red
}

.cell {
    height: 100px;
    width: 100px;
    float: left;
}

.break {
    height: 100px;
}

button {
    font-size: 25px
}
